[submodule "backend/thirdparty/cpp-httplib"]
	path = backend/thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "./backend/thirdparty/cpp-httplib/"]
	branch = tags/v0.12.6
