[submodule "backend/thirdparty/cpp-httplib"]
	path = backend/thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
	branch = tags/v0.12.6
[submodule "backend/thirdparty/spdlog"]
	path = backend/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
	branch = tags/v1.11.0
